matplotlib
sklearn
tensorflow
keras
pandas
opencv-python
cython
omegaconf
timm
h5py
nvidia-ml-py3
cv2
ipywidgets
torch
ninja
-e git://github.com/ofekp/vision.git
-e git://github.com/ofekp/efficientdet-pytorch.git
cython
-e git://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI